@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

html,
body {
	color: #191919;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

// Buttons
.btn-learnmore {
	background-color: #F9D783;
	border: 1px solid #F9D783;
	padding: 15px 160px;
	font-weight: 600;
	font-size: 16px;
	border-radius: 25px;
	color: #191919;
	text-decoration: none;

	i {
		margin-left: 8px;
		font-size: 0.9em;
	}

	&:hover {
		background-color: #191919;
		border: 1px solid #191919;
		color: #F0EFE9;
	}
}

.btn-yellow {
	background-color: #F9D783;
	border: 1px solid #F9D783;
	padding: 15px 30px;
	font-weight: 600;
	font-size: 16px;
	border-radius: 25px;
	color: #191919;
	text-decoration: none;

	i {
		margin-left: 8px;
		font-size: 0.9em;
	}

	&:hover {
		background-color: #191919;
		border: 1px solid #191919;
		color: #F0EFE9;
	}
}

.btn-black {
	background-color: #191919;
	border: 1px solid #191919;
	color: #FFFFFF;
	padding: 15px 30px;
	font-weight: 600;
	border-radius: 25px;
	font-size: 16px;
	text-decoration: none;

	i {
		margin-left: 8px;
		font-size: 0.9em;
	}

	&:hover {
		background-color: #FFFFFF;
		border: 1px solid #191919;
		color: #191919;
	}
}

.btn-blank {
	border: 1px solid #191919;
	color: #191919;
	text-decoration: none;
	padding: 12px 25px;
	font-weight: 600;
	font-size: 16px;
	border-radius: 25px;

	i {
		margin-left: 8px;
		font-size: 0.9em;
	}

	&:hover {
		background-color: #191919;
		border: 1px solid #191919;
		color: #F0EFE9;
	}
}

@media (min-width: 1660px) {
	.feature-section.container {
		max-width: 1520px;
	}
}

// Centerera innehåll
.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

//Orange P and bold H2 for titles
.section-title {
	padding-top: 70px;
	padding-bottom: 40px;

	@media (min-width: 768px) {
		padding-top: 120px;
		padding-bottom: 90px;
	}

	p {
		color: #F94D1c;
		margin-bottom: 10px;
	}

	h2 {
		color: #191919;
		font-family: 'DM sans', sans-serif;
		font-weight: 700;
		font-size: 45px;
	}
}


// Contact information, social media
.wrapper-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}

header {
	background-color: #F0EFE9;
	padding: 16px;

	.container {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr auto;
		grid-template-areas: "logo bars";

		@media (min-width: 992px) {
			grid-template-columns: auto 1fr auto;
			grid-template-areas:
				"logo cib social"
				"logo menu menu";
		}
	}

	.btn-menubars {
		grid-area: bars;
		border: none;
		font-size: 25px;
		background-color: transparent;

		@media (min-width: 992px) {
			display: none;
		}
	}

	.logotype {
		grid-area: logo;
		margin-right: 70px;

		@media (min-width: 1200px) {
			display: flex;
		}
	}

	.contactinformation-bar {
		grid-area: cib;
		display: none;
		justify-content: flex-start;
		align-items: center;

		@media (min-width: 1200px) {
			display: flex;
		}

		.content-box {
			margin-right: 30px;
			padding-right: 30px;
			border-right: 1px solid #DAD9D3;
			font-family: 'Inter', sans-serif;
			font-size: 15px;
			font-weight: 300;

			i {
				margin-right: 5px;
				font-size: 1.2em;
				color: #191919;
			}

			&.last {
				border: none;
			}
		}

		.content-box:last-child {
			border-right: none;
		}
	}

	.socialmedia-bar {
		grid-area: social;
		display: none;

		@media (min-width: 992px) {
			display: flex;
		}

		a {
			color: #191919;
			text-decoration: none;
			font-size: 1.3rem;
			margin-left: 12px;
		}
	}

	.menu {
		grid-area: menu;
		display: none;
		justify-content: space-between;
		align-items: center;
		border-top: 1px solid #DAD9D3;
		margin-top: 10px;
		padding-top: 10px;

		@media (min-width: 992px) {
			display: flex;
		}

		.btn-login {
			padding-top: 12px;
			padding-bottom: 12px;
			text-decoration: none;

		}
	}

	.menu nav a {
		display: inline-block;
		color: #191919;
		text-decoration: none;
		margin-right: 35px;
		position: relative;

		&.active {
			font-weight: 500;
		}

		&.active::after,
		&:hover::after {
			content: '';
			position: absolute;
			font-weight: 500;
			height: 2px;
			width: 15px;
			background-color: #191919;
			left: 50%;
			bottom: -3px;
			transform: translate(calc(50% - 15px));
		}
	}
}

.searchbox {
	background-color: #f3f3f3;
	display: inline-block;
	border-radius: 25px;
	padding: 8px 20px;

	input {
		background-color: transparent;
		border: none;
		outline: none;
		font-size: 0.8em;

	}
}



// Showcase
.showcase {
	background-color: #F0EFE9;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 70px;

		.content {
			h1 {
				font-family: 'DM Sans, sans-serif';
				font-weight: 700;
				font-size: 76px;
			}

			p {
				color: #626262;
				font-size: 20px;
				padding-top: 35px;
				padding-bottom: 40px;
			}

			a {
				margin-right: 10px;
				padding-top: 15px;
			}
		}
	}

	img {
		margin-right: -50px;
		display: none;

		@media (min-width: 992px) {
			display: block;

		}
	}


	.Background-lines-right {
		margin-left: -300px;
		padding-top: 150px;
	}

}

// Brands section
.brands {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 95px;
	margin-bottom: 100px;

	gap: px;

	@media (min-width: 768px) {}


	.photo {
		padding: 0px;
	}

	@media (max-width: 768px) {
		.sponsor {
			gap: 20px;
			/* Mindre gap när fönstret krymper */
		}
	}
}

.loginbtn {
	display: flex;
	margin: 12px;


}

.feature-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	border: 1px solid #D3D3D3;
	margin-bottom: 50px;


	.section-title {
		margin-top: 30px;
		margin-bottom: 120px;
		padding: 20px;
		margin-right: 60px;


		h2 {
			font-size: 50px;
			margin-bottom: 40px;

		}

	}

	.feature-box {
		display: flex;
		flex-wrap: wrap;
		gap: 20;
		margin-right: 30px;
		margin-top: 40px;



		h3 {

			font-size: 22px;
		}

		p {
			color: #626262;
			font-size: 17px;
			padding-bottom: 40px;

		}

	}

}

.header-text {
	font-size: 2px;
	font-weight: 500;
}
.aboutus-section {
    .container {

        .aboutbox {
            margin-bottom: 50px;

            .featurebox {
                display: flex;
                justify-content: space-between;
                
                gap: 40px;
                background-color: #ffffff;
                transition: .3s;
                flex-direction: column;

                @media (min-width: 992px) {
                    display: flex;
                    flex-direction: row;
                    gap: 200px;
                }

                .imgbox {
                    position: relative;

                    .bluebox {
                        position: absolute;
                        left: -10%;
                        bottom: 7%;
                        background-color: #BEEBFF;
                        width: 368px;
                        height: 180px;

                        .toptext {
                            margin-top: 20px;
                            display: flex;
                            align-items: baseline;

                            p {
                                margin-left: 8px;
                                color: #F94D1c;
                            }
                        }
                    }

                    .descriptiontext {
                        color: #626262;
                    }
                }

                .section-title {
                    text-align: left;
                    margin-bottom: 10px;
                    padding: 0;
                    padding-right: 27px;

					.aboutcompanytxt {
						p {
							margin-top: 30px;
							margin-bottom: 30px;
							color: #626262;
						}
						
                        .btnbrowse {
                            margin-top: 50px;
                        }
                    }
					.introvideo {
						display: flex;
						justify-content: flex-end;
						margin-right: 250px;
						margin-top: -40px;
						
						.playbutton {
							font-size: 40px;
							color: #191919;
						}
					}
                }
            }
        }
    }
}




//  SERVICES 
.service-box {
	display: flex;
	border: 1px solid #D3D3D3;
	background-color: #F0EFE9;
	padding-top: 120px;
	padding-bottom: 220px;


	.section-title {
		margin-bottom: 30px;
		padding: 20px;
		font-size: 16px;

		p {
			font-size: 22px;
		}

		h2 {
			margin-right: 700px;
			font-size: 50px;
		}
	}

	.boxes {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;

		@media (min-width: 992px) {
			display: flex;
			flex-direction: row;
			gap: 30px;
		}
	}


	.single-box {
		padding-top: 45px;
		padding-bottom: 60px;
		padding-left: 30px;
		padding-right: 30px;
		border-radius: 4px;
		background-color: #ffffff;
		transition: .3s;
		margin-bottom: 20px;

		.j {
			text-align: end;
		}

		.roundbutton {
			color: #191919;
			font-size: 50px;
		}


		&:hover {
			background-color: #F9D783;
			// border: 1px solid #191919;
			color: #191919;
		}
	}

	.btnbrowse {
		text-align: center;
		align-items: center;
	}

	.header-text {
		font-size: 22px;
		font-weight: 500;
		line-height: 48px;
	}

}

// Why choose us section 


//   Projects section
.project-section {
	.container {


		.section-title-p {
			margin-top: 100px;
			text-align: center;
			margin-bottom: 100px;

			p {
				color: #F94D1c;
				margin-bottom: 10px;
			}

			h2 {
				color: #191919;
				font-family: 'DM sans', sans-serif;
				font-weight: 700;
				font-size: 45px;
			}
		}

		.project-cases {
			display: grid;
			grid-template-columns: 1fr;
			gap: 30px;

			@media (min-width: 768px) {
				grid-template-columns: 1fr 1fr;
			}

			.project {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: 1fr;
				color: #191919;
				text-decoration: none;

				img {
					width: 100%;
					height: auto;
				}

				h3 {
					font-family: 'DM sans', sans-serif;
					font-weight: 700;
					font-size: 22px;
					padding-top: 35px;
					padding-bottom: 16px;
					border-bottom: 1px solid #DAD9D3;


				}

				// read more button
				.readmore {
					padding: 15px;
					margin-right: 15px;
					display: block;
					Text-align: right;
					color: #191919;
					font-family: 'Inter', sans-serif;
					font-size: 14px;
					font-weight: 500;
					text-decoration: none;
					color: #191919;
				}

				// arrow icon
				i {
					margin-left: 3px;
				}

				&:hover .readmore {
					text-decoration: underline;
				}
			}
		}

		// center the All recent projects
		.center-content {
			margin-top: 50px;
			margin-bottom: 90px;
		}

	}
}
// Meet team section
.meetteam-section {
	background-color: #F0D082;
	padding-bottom: 100px;
	.container {
	  .section-title {
		p {
		  font-size: 20px;
		}
		h2 {
			display: flex;
			font-size: 50px;
			flex-direction: column;		

			}
	  }
	  .members {
		display: grid;
		grid-template-columns: repeat(4, 1fr);	
		gap: 40px;
		.member {
		//   img {
		//   }
		  h3 {
			font-family: 'DM sans', sans-serif;
			font-size: 22px;
			font-weight: 700;
			margin-top: 10px;
		  }
		//   p {

		//   }
		}
	  }
	  .testimonial {
		margin-top: 100px;
		.container {
			background-color: #FFFFFF;
			box-sizing: border-box;
			padding-bottom: 100px;
		}
		.section-title {
			text-align: center;

		//   p {
		
		//   }
		  h2 {
		
		  }
		}
		.Cards-container {
			display: flex;
			justify-content: space-around;
		  .card-reviews {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			margin-left: 100px;
			margin-right: 100px;
			gap: 100px;
			img {
				margin-bottom: 10px;
			}
			p {
				margin-top: 0;
			}
		  }
		}
		.card-names-container {
			display: flex;
			justify-content: space-around;
			margin-top: 50px;
			padding-bottom: 50px;
		  .card-names {
			margin-left: 20px;
			display: flex;
			flex-direction: row;
			gap: 40px;
			align-items: center;
			margin-right: 30px;
			
			img {
	
			}
			h3 {
				font-family: 'DM sans' sans-serif;
				font-size: 22px;
				font-weight: 700;
				
						}
			p {
				text-align: center;
				color:orangered;
			}
		  }
		  	.center-content {
				.btn-black {
					
				}
			}
		}
	  }
	}
  }

//  Newsletter section
.newsletter {
	background-color: #F0EFE9;
	position: relative;
	padding-top: 80px;
	padding-bottom: 80px;

	.Background-wavy-lines {
		position: absolute;
		bottom: 50px;
		right: 0;
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		h2 {
			font-family: 'DM sans', sans-serif;
			font-size: 45px;
			font-weight: 700;
		}

		form {
			input {
				padding: 15px 30px;
				font-size: 16px;
				border-radius: 25px;
				outline: none;
				border: 1px solid #DAD9D3;
				margin-right: 20px;
			}

		}


	}
}





.footer {
    background-color: #0E1021;
    
    .container {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 10px;
        padding-top: 130px;
        color: #ffffff;
        
		.logo {
			display: flex;
			flex-direction: column;
			align-items: center; 
			max-width: 200px; 
			margin-bottom: 20px; 
	
			img {
				max-width: 100%; 
			}
	
			.logo-text {
				font-size: 14px;
				color: #B6B6BC;
				margin-top: 10px; 
				overflow-wrap: break-word; 
				max-width: 100%; 
			}
		}

        .footer-links {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin-bottom: 50px;
            margin-left: 50px;

            .footer-row {
                display: flex;
                flex-direction: column;

                h4 {
                    font-size: 18px;
                    margin-bottom: 30px;
                }

                a {
					color: #B6B6BC;
                    text-decoration: none;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #3E404D;

        .copyright {
            padding-top: 2rem;
            padding-bottom: 1rem;
            padding-left: 20px;
            color: #B6B6BC;
        }

        .social-media {
            display: flex;
            align-items: flex-end; 
            margin-right: 20px; 
            
            a {
                font-size: 20px;
                text-decoration: none;
                color: #ffffff;
                margin: 10px;
            }
        }
    }

    .underline {
        border-bottom: 1px solid #DAD9D3;
    }
}